body {
	font-family: -apple-system;
}

.modal {
 	display: none;
}

.modal.is-open {
 	display: block;
}

.modal-background {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.6);
}

.modal-title {
	margin: 0;
}

.modal-dialog {
	background-color: WhiteSmoke;
	border-radius: 10px;
	box-shadow: 2px 2px 4px grey;
	padding: 10px 25px;
}